body {
  font-family: "Public Sans", sans-serif;
}

nav {
  z-index: 1021 !important;
}

.form-group {
  position: relative;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

.validation-error {
  margin-bottom: 0px;
  position: absolute;
  z-index: 2000;
  padding: 4px 12px;
}

.slide-up-transition-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-up-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.slide-up-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-transition-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.slide-down-transition-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-down-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.slide-down-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-down-transition-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.fade-transition {
  z-index: 1;
}

.fade-transition-enter {
  opacity: 0;
}

.fade-transition-enter-active {
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
}

.fade-transition-exit {
  opacity: 1;
}

.fade-transition-exit-active {
  opacity: 0;
}

.floating-alert {
  display: none;
  position: fixed;
  z-index: 3000;
  bottom: 5rem;
  left: 50%;
  /* transform: translateX(-50%); */
  -moz-animation: floatingAlert ease-in 3s forwards;
  -webkit-animation: floatingAlert ease-in 3s forwards;
  -o-animation: floatingAlert ease-in 3s forwards;
  animation: floatingAlert ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

.custom-tooltip {
  padding: 8px 10px !important;
  max-width: calc(100% - 0.6rem);
  z-index: 10000;
}

.centered-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  top: 30%;
  left: 0;
  width: 100%;
  color: black;
  text-align: center;
  z-index: 10;
}

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.ellipsis-loading:after {
  display: inline-block;
  animation: ellipsis steps(1) 1s infinite;
  content: "";
}

@keyframes ellipsis {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.cursor-unset {
  cursor: unset !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.custom-table thead th:first-child {
  border-top-left-radius: 0.5rem;
}

.custom-table thead th:last-child {
  border-top-right-radius: 0.5rem;
}

.custom-table tbody tr:last-child > :first-child {
  border-bottom-left-radius: 0.5rem;
}

.custom-table tbody tr:last-child > :last-child {
  border-bottom-right-radius: 0.5rem;
}

.custom-table tr {
  position: relative;
}

.custom-table tr input {
  position: relative;
  z-index: 2;
}

.custom-table th,
.custom-table td {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .custom-table tr > :not(:first-child):not(:last-child) {
    display: none;
  }

  .custom-table th,
  .custom-table td,
  .custom-table th input,
  .custom-table td input {
    text-align: center;
  }

  .custom-table th {
    white-space: nowrap;
  }

  .custom-table td {
    width: 50%;
  }
}

@media (min-width: 768px) {
  :has(.custom-table) {
    height: calc(100vh - 133px);
  }
}

.accordion-button {
  background-color: var(--bs-info-bg-subtle) !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-info-border-subtle) !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem !important;
}

.react-toggle {
  touch-action: pan-x;
  display: block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  width: min-content;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  position: absolute !important;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.react-toggle--disabled {
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #dcdfe4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #5b636a;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #5b636a;
}

.react-toggle-track-check {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.5rem;
  left: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0.5rem;
  right: 14px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 7px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.react-tags {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
}

.react-tags-large .react-tags {
  font-size: 1.25rem;
}

.react-tags-plaintext .react-tags {
  display: contents;
}

.react-tags.is-active {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

:has(> .react-tags.is-disabled) {
  cursor: not-allowed;
}

.react-tags.is-disabled {
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-tags.is-invalid {
  border-color: #fd5956;
  box-shadow: 0 0 0 2px rgba(253, 86, 83, 0.25);
}

.react-tags__label,
.react-tags__list:empty,
.react-tags:not(.is-active):not(.react-tags-select .react-tags) .react-tags__list:not(:empty) + .react-tags__combobox:not(:focus),
.react-tags-select .react-tags__list:not(:empty) {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}

.react-tags__list {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 0.375rem;
  margin: 0 0 -0.375rem 0;
  padding: 0.375rem;
  width: 100%;
}

.react-tags .react-tags__list:empty {
  padding-bottom: 0;
}

.react-tags:not(.is-active) .react-tags__list:not(:empty) {
  margin: 0;
}

.react-tags-plaintext .react-tags__list,
.react-tags-plaintext .react-tags__combobox-input {
  padding-left: 0;
  padding-right: 0;
}

.react-tags-select .react-tags__list {
  margin: 0;
  padding: 0;
}

.react-tags-readonly .react-tags {
  cursor: unset;
}

.react-tags-readonly .react-tags__tag {
  padding: 1px 6px;
}

.react-tags__list-item {
  list-style: none;
}

.react-tags-select .react-tags__list-item {
  width: 100%;
  padding: 0 0 0 0.375rem;
  margin: 0;
}

.react-tags-select .react-tags__tag-name::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.react-tags-select .react-tags__list:not(:empty) {
  margin: 0;
}

.react-tags__tag {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 50rem;
  background: #dcdfe4;
  color: black;
  padding: 0 6px;
}

.react-tags:not(.react-tags-readonly .react-tags) .react-tags__tag:hover {
  color: #ffffff;
  background-color: #5b636a;
}

.react-tags.is-active .react-tags__combobox {
  width: 100%;
}

.react-tags__combobox-input {
  width: 100%;
  margin: 0;
  padding: 0.375rem 0.75rem;
  border: 0;
  outline: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
}

.react-tags-large .react-tags__combobox-input {
  padding: 0.5rem 1rem;
  height: calc(2.875rem + 2px);
}

.react-tags__listbox {
  position: absolute;
  z-index: 3;
  top: calc(100%);
  left: 0px;
  right: 0px;
  max-height: 12.5rem;
  overflow-y: auto;
  background: #ffffff;
  border: 1.11111px solid #94c3f5;
  border-radius: 4.8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -4px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.react-tags__listbox-option {
  overflow-x: clip;
  text-overflow: ellipsis;
  padding: 0.375rem 0.5rem;
}

.react-tags__listbox-option:hover {
  cursor: pointer;
  background: #dcdfe4;
}

.react-tags__listbox-option:not([aria-disabled="true"]).is-active {
  background: #0a58ca;
  color: #ffffff;
}

.react-tags__listbox-option[aria-selected="true"]:not(.is-active)::after {
  color: #5b636a;
}

.react-tags__listbox-option[aria-disabled="true"] {
  color: #7c7d86;
  cursor: not-allowed;
  pointer-events: none;
}

.react-tags__listbox-option-highlight {
  background-color: #ffdd00;
}

.react-tags__listbox-option::before {
  margin-right: 0.5rem;
}

.react-tags__listbox-option[aria-selected="false"]::before {
  content: "⬜";
}

.react-tags__listbox-option[aria-selected="true"]::before {
  content: "✅";
}

.react-tags__listbox-option[id*="Create_group"]::before {
  content: "➕";
}

.react-tags__listbox-option[id*="No_options"]::before {
  content: "❔";
}

.react-tags-select .react-tags__listbox-option::before {
  content: "⚪";
  margin-right: 0.375rem;
}

.react-tags-select .react-tags__listbox-option[aria-selected="true"]::before {
  content: "🔘";
  margin-right: 0.375rem;
}
